faiss-cpu==1.7.4
pymilvus==2.2.8
qdrant-client==1.2.0
pgvector==0.1.8
psycopg2-binary==2.9.6
redis==4.5.5
weaviate-client==3.19.2
openai==0.27.7
langchain==0.0.183
pyarrow<10.1.0,>=10.0.1
pdf2image==1.16.3
pypdf==3.8.1
streamlit==1.22.0
StrEnum==0.4.10
tiktoken==0.4.0
unstructured==0.6.5
sentence_transformers==2.2.2
streamlit-chat==0.0.2.2
chromadb==0.3.25
elasticsearch==8.8.0
redis==4.5.5
gpt4all
llama-cpp-python==0.1.50
python-dotenv==1.0.0